#part2{
    width: 100%; min-height: 1000px; display: grid; grid-template-columns: 1fr; margin: auto;
}
#part2>div{
    display: grid; grid-template-columns: repeat(2,1fr); width: 80%; margin:50px auto; gap: 40px;
}
#part2>div>div>img{
    width: 100%;
}
#part2>div>div>button{
    width: 23%; min-height: 40px; background-color: red; border: 2px solid red; border-radius: 8px;
}
@media screen and (max-width : 990px) {
    #part2>div{
        grid-template-columns: 1fr; width: 90%;
    }
}