#part5s1{
    display: flex; width: 80%; justify-content: space-between; margin: auto; height: 200px;
}
#part5s1>div>button{
    background-color: red; width: 200px; height: 45px; border: 2px solid red; border-radius: 8px;
}
#part5s2{
    display: grid; width: 80%; grid-template-columns: repeat(4,1fr); margin: auto; height: 660px; 
}
#part5s2>a>img{
    width: 50px;
}
#part5s2>a>p{
    font-size: 20px;
}
#part5s2>a{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px; padding: 20px; width: 70%; background-color: white;
}