#part4>h1{
    font-size: 50px; text-align: center;
}
#part4s1{
    display: grid; width: 80%; grid-template-columns: repeat(4,1fr); margin: auto; gap: 20px;
}
#part4s1>div>h3{
    color: rgb(100, 97, 97); font-size: 25px;
}
#part4s1>div>p{
    color: rgb(12, 12, 145); font-size: 50px; font-weight: bold;
}

@media screen and (max-width:990px){
    #part4s1{
        width: 40%; grid-template-columns: repeat(1,1fr);
    }
}
