#part4>h1{
    font-size: 50px; text-align: center;
}
#part4s1{
    display: flex; width: 70%; justify-content: space-between; margin: auto;
}
#part4s1>div{
    width: 17%;
}
#part4s1>div>p{
    font-size: 50px; color: rgb(40, 40, 121); padding: 0px; margin: 0;
}
#part4s1>div>h3{
    color: rgb(128, 118, 118);
}