#part7{
    min-height: 700px; width: 100%; background-color: #f6f6f9; padding-top: 100px;
}
#work{
    width: 50%; margin-left: 10%;
}
#part7c{
    display: flex; justify-content: space-around;width: 80%; margin: auto;
}
#part7c > div{
     width: 30%;
}
#part7c>div>img{
    width: 240px;
}
#part7c>div>button{
    margin-top: 20px;
}
a{
    text-decoration: none; color: black;
}

@media screen and (max-width :890px) {
    #part7c{
        display: grid; width: 90%; margin: auto; grid-template-columns: repeat(2,1fr); gap: 30px;
    }
    #part7c > div{
         width: 100%;
    }
    #work{
        width: 80%; 
    }
}

@media screen and (max-width:760px){
    #part7c{
         width: 100%; grid-template-columns: repeat(1,1fr); 
    }
    #part7c>div>img{
        width: 100%;
    }
    #work{
        width: 90%; margin: 0px;
    }
}

